#contact {
  .row {
    padding-top: 50px;
    @include desktop {
      padding-top: 10vh;
    }
    h2 {
      text-align: center;
      color: darkred;
      text-shadow: 1px -2px 5px black;
      font-family: $fontItalics;
      font-size: 30px;
      padding-bottom: 5%;
      @include desktop {
        font-size: 50px;
        font-weight: bold;
      }
    }
    form {
      font-size: 25px;
      line-height: 150%;
      width: 100%;
      height: 100%;
      text-align: center;
      .error {
        color: red;
        font-size: 15px;
      }

      .right {
        color: green;
        font-size: 15px;
      }
      label {
        margin-top: 15px;
      }
      input {
        display: block;
        margin: 0 auto;
        width: 90%;
        &:last-of-type {
          width: 50%;
          font-family: $fontRegular;
          color: $colorText;
          background-color: lighten($mainColor, 8%);
          font-size: 18px;
          font-weight: bold;
          padding: 10px;
          position: relative;
          z-index: 3;
          &:hover {
            background-color: lighten($mainColor, 15%);
            cursor: pointer;
          }
          @include desktop {
            font-size: 20px;
          }
        }
      }
      textarea {
        width: 90%;
        height: 30vh;
      }
      input.invalid, textarea.invalid{
        border: 3px solid red;
      }

      input.valid, textarea.valid{
        border: 3px solid green;
      }
    }
    #social {
      width: 90vw;
      height: 20vh;
      text-align: center;
      margin: 10% 0;
      @include desktop {
        width: 45%;
        height: 400px;
        margin: 5% 0 5% 5%;
      }
      color: $colorText;
      @include desktop{
        border: 5px solid $colorText;
        border-radius: 100px 100px 100px 100px;
        -moz-border-radius: 100px 100px 100px 100px;
        -webkit-border-radius: 100px 100px 100px 100px;
      }
      h3 {
        color: darkred;
        text-align: center;
        line-height: 200%;
        font-size: 25px;
        font-weight: bold;
        @include desktop {
          font-size: 40px;
          line-height: 400%;
        }
      }
      .fa {
        font-size: 10vh;
        padding: 0 4%;
        @include desktop {
          padding: 5% 8% 5% 8%;
          font-size: 10vh;
        }
        &:first-of-type {
          color: #3b5998;
        }
        &:nth-of-type(2) {
          color: #00aced;
        }
        &:last-of-type {
          color: #cc181e;
        }
      }
    }
  }
}