footer{
  height: 30px;
  @include desktop{
    height: 40px;
  }
  .row.col-d-6.col-m-6{
    font-weight: bold;
    @include desktop{
      padding: 1.5% 40% 1.5% 10%;
    }
    span{
      padding-right:3%;
    }
    span:nth-of-type(3){
      font-weight: bold;
    }
    .fa{
      color: white;
    }
  }
}