#health{
  margin: 100px auto;
  text-align: center;
  div div{
    padding-right: 5%;
    a{
      color: $colorText;
      text-decoration: none;
      background-color: lighten($mainColor,8%);
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
      @include desktop{
        font-size: 20px;
        &:hover{
          background-color: lighten($mainColor,15%);
        }
      }
    }
  }
  h2{
    font-family: $fontItalics;
    font-size: 30px;
    padding-bottom: 5%;
    @include desktop{
      font-size: 40px;
      font-weight: bold;
    }
  }
  p{
    font-size: 15px;
    padding-bottom: 5%;
    @include desktop{
      font-size: 20px;
    }
  }
}