//@import "_grid";
//@import "_variables.scss";

header {
  height: 100vh;
  min-width: 1300px;
  width: 100vw;
  background-image: url("../images/tlo.jpg");
  background-color: $mainColor;
  background-position: top center;
  background-size: cover;
  color: $colorText;
  text-align: center;
  nav {
    position: fixed;
    background: $mainColor;
    z-index: 1;
    display: none;
    @include desktop {
      display: block !important;
    }
    ul {
      li {
        font-weight: bold;
        min-height: 20px;
        font-size: 15px;
        a{
          color: $colorText;
          text-decoration: none;
          //text-underline: none;
          &:hover > a {
            color: $colorText;
          }
        }
        @include desktop {
          padding-right: 5%;
          font-size: 24px;
          display: inline-block;
          width: (90%/6);
        }
      }

    }
  }
  #about{
    h1{
      font-weight: bold;
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
      text-align: center;
      padding-top: 18%;
      position: relative;
      @include desktop{
        font-size: 50px;
      }
    }
    h2{
      position: absolute;
      font-family: 'Dancing Script', cursive;
      bottom: 20%;
      left: 20%;
      font-size: 25px;
      font-weight: bold;
      @include desktop{
        font-size: 45px;
      }
    }
  }
}