//@import "_grid";
//@import "_variables.scss";

header {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/tlo.jpg");
  background-color: $mainColor;
  background-position: top center;
  background-size: cover;
  color: $colorText;
  .hamburger{
    line-height: 50px;
    text-align: center;
    background: rgba(255,255,255, 0.5);
    cursor: pointer;
    @include desktop{
      display: none;
    };
  }
  nav {
    position: fixed;
    background: $mainColor;
    z-index: 1;
    display: none;
    text-transform: uppercase;

    ul {
      text-align: center;
      @include desktop{
        display: flex;
        //justify-content: space-around;
        //justify-content: space-between;
      }
      li {
        min-height: 30px;
        font-size: 15px;
        cursor: pointer;
        padding-top: 5px;
        &:hover{
          color: $colorText;
          font-weight: bold;
          background-color: lighten($mainColor,10%);
        }
        a{
          color: $colorText;
          text-decoration: none;
        }
        @include desktop {
          font-size: 20px;
          min-height: 50px;
          width: (78%/6);
          border: 1px solid red;
        }
      }

    }
  }
  #about{

    h1{
      font-weight: bold;
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
      text-align: center;
      padding-top: 18%;
      position: relative;
      @include desktop{
        font-size: 50px;
      }
    }
    h2{
      position: absolute;
      font-family: $fontItalics;
      bottom: 20%;
      left: 25%;
      font-size: 25px;
      font-weight: bold;
      @include desktop{
        font-size: 45px;
      }
    }
  }
}