#opening{
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation-name: welcome;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  display: block;

  #flower{
    background-image: url(../images/transparent.png);
    height: 400px;
    width: 400px;
    position: relative;
    margin: 0 auto;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: welcome, rotation;
    animation-duration: 5s, 5s;
    animation-fill-mode: forwards;
    @include desktop{
      background-size: 100%;
    }
  }
  h3{
    position: absolute;
    font-family: $fontItalics;
    animation-name: moveH2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    color: darkred;
    font-weight: bold;
    font-size: 40px;
    top: 80%;
    right: 35%;
    @include desktop{
      font-size: 80px;
      top: 80%;
      right: 35%;
    }
  }
}

@keyframes rotation{
  0% {
    transform: rotate(0) scale(1.5);
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 1;
  }
  100% {
    display: none;
    transform: rotate(360deg) scale(0);
    opacity: 0;
  }
}

@keyframes welcome {
  0% {
    background-color: black;
    display: block;
    opacity: 1;
  }
  99% {
    background-color: black;
    display: block;
    opacity: 1;
    z-index: 7;
  }
  100% {
    background-color: black;
    display: none;
    opacity: 0;
    z-index: 2;
  }
}

@keyframes moveH2 {
  0% {
    transform: translateY(0) scale(1);
    display: block;
    opacity: 1;
  }
  99% {
    transform: translateY(-300px) scale(2);
    display: block;
    opacity: 1;
    z-index: 7;
  }
  100% {
    transform: translateY(-300px) scale(2);
    display: none;
    opacity: 0;
    z-index: 2;
  }
}

@include desktop{
  #opening{
    .flower{
      background-size: auto;
    }
  }
}