#products {
  .row{
    margin-top: 20vh;
    @include desktop{
      padding-top: 30vh;
    }
  }
  text-align: left;
  div div:nth-of-type(2) {
    padding-left: 8%;
    ul {
      list-style: square;
      li{
        font-size: 25px;
        padding-bottom: 5%;
        @include desktop{
          font-size: 30px;
        }
      }
    }
  }
  h2{
    font-family: $fontItalics;
    font-size: 30px;
    padding-bottom: 10%;
    @include desktop{
      font-size: 40px;
      font-weight: bold;
    }
  }
}