#products {
  margin: 50px auto;
  @include desktop{
    margin: 150px auto
  }
  text-align: left;
  div div:nth-of-type(2) {
    padding-left: 8%;
    ul {
      list-style: square;
      text-align: left;
      li{
        font-size: 20px;
        padding-bottom: 5%;
        @include desktop{
          font-size: 30px;
        }
      }
    }
  }
  h2{
    font-family: $fontItalics;
    font-size: 30px;
    padding-bottom: 10%;
    @include desktop{
      font-size: 40px;
      font-weight: bold;
    }
  }
}