#health, #products, #perfume{
  min-height: 60vh;
  @include desktop{
    height: 600px;
  }
}

#slider{
  min-height: 50vh;
  @include desktop{
    height: 550px;
  }
}

#contact, #local{
  position: relative;
  z-index: 3;
  height: 650px;
  @include desktop{
    height: 600px;
  }
}