html{
  background: $mainColor;
  color: $colorText;
}

#health, #products, #perfume{
  min-height: 400px;
}

#contact, #local{
  position: relative;
  z-index: 3;
  height: 650px;
  @include desktop{
    height: 450px;
  }
}